<!--
<h1>Pages#faq</h1>
<p>Find me in app/views/pages/faq.html.erb</p>
-->
<!--
<h1 class="page-header">Frequently asked questions<br/>
<small>Please read</small>
</h1>
-->

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Faqs:
      <% if @faqs.empty? %>
        <p>No questions yet, please use the contact form to ask a question.  </p>
      <% else %>
        <%= @faqs.count %> answered here...
      <% end %>

  </div>



<% @faqs.each do |faq| %>
   &nbsp; &nbsp;  <%= faq.question %>

  &nbsp; <i><%= faq.answer %></i>
<br>  <br>


<% end %>

  </div>
<br>

<div class="pagenav">
  <%== pagy_bootstrap_nav(@pagy) %> <br/>
</div>
