<!-- views/checkout/success.html.erb -->

<% if user_signed_in? %>


<p>The status of your payment has <%= @success.payment_intent.status %>.</p>
<p>Thank you for your payment of <%= number_to_currency @success.payment_intent.amount / 100.0 %><br><br>


<!-- <p>A copy of your invoice is here...<%#= @success.payment_intent.charges[0].receipt_url  %>.</p> -->
<p> CART ID IS...
<%= @success.payment_intent.client_reference_id %>
</p>


<p>Shipments begin after receiving payments from everyone in the campaign.<br/>
Check the status of the transaction in the main menu.
</p>

<%#= debug @session %>
<%= debug @success %>


<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see this page.</div>

<% end %>

<!-- end -->
