<div class="well well-sm">
  <i>Previously viewed...</i>(need to fix this..) <br>

   <% for i in session[:history]  do %>

     <%  i.sub!("http://localhost:3000/products/", "") %>
     <%  i.sub!("https://desolate-journey-54830.herokuapp.com/products/", "" ) %>
     <%  i.sub!("-", " ") %>

     <%= link_to i.titleize, i %> <br>

    <% end %>

  <br>
</div>
