<div class="well well-sm">
  <i>Previously viewed...</i>need to wrap in image_tag<br>

  <% x = session[:history].clone.map(&:clone) %>

   <% for i in  x   do %>

     <%  i.sub!("http://localhost:3000/products/", "") %>
     <%  i.sub!("https://desolate-journey-54830.herokuapp.com/products/", "" ) %>

     <%= link_to Product.where(title: i.titleize).pluck('picurl') , i  %> <br>

    <!-- <%#= image_tag( Product.where(title: i.titleize).pluck('picurl') )    %> -->

    <% end %>

  <br>
</div>
