

<div class="well well-sm">

        <!-- <a href="<%#= @product.picurl %>" %> -->
         <img src=" <%= asset_pack_path "media/images/#{@product.picurl}" %> " align="top" >
        <!--  </a> -->
        <%= render 'products/partials/thumbnails' %>

 </div >

 <style>
 img {
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   top:0;
<!--   width: 150px; -->
 }

 img:hover {
   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
 }
 </style>
