
<div class="well well-sm">

        <section data-featherlight-gallery data-featherlight-filter="a" >

    <a href = "<%= @product.picurl  %>"  >
      <img src="<%= @product.picurl  %> " width="250" height="250"  align="top" class ="main_img"  alt="<% @product.title %>" >
      </a>

        <%= render 'products/partials/thumbnails' %>
        </section>
 </div >

 <style>
 .main_img {
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 5px;
   top:0;
<!--   width: 150px; -->
 }

 .main_img:hover {
   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
 }
 </style>
<script>
 $('a.gallery').featherlightGallery({
 		previousIcon: '«',
 		nextIcon: '»',
 		galleryFadeIn: 300,

 		openSpeed: 300
 	});
  </script>
