<%= link_to Like_product_path(@product), class: "like", method: :put do %>
	<button type="button" class="btn btn-info" aria-label="Left Align" >
	<span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"> </span>
	<span class = "badge"><%= @product.get_upvotes.size %> </span>
	</button>
<% end %>


<%= link_to Unlike_product_path(@product), class: "like", method: :put do %>
	<button type="button" class="btn btn-info" aria-label="Left Align" >
	<span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"> </span>
	<span class = "badge"><%= @product.get_downvotes.size %> </span>
	</button>
<% end %>
