<p id="notice"><%= notice %></p>

<p>
  <strong>Searchterm:</strong>
  <%= @search_for.searchterm %>
</p>

<%= link_to 'Edit', edit_search_for_path(@search_for) %> |
<%= link_to 'Back', search_fors_path %>
