
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @firstname %></h3>
    <p>
      The campaign you are apart of was a success.
    </p>
    <p>
      Please login at <%= @url %> and pay for the item before the due date.
    </p>
    <p>Thanks for being apart of a successful campaign and have a great day!</p>

    <p>Sincerely, <br/>
      J. Guerra<br/>
      JG Infosystems<br/>
    </p>
  </body>
</html>
