<!--
<h1>Pages#activity</h1>
<p>Find me in app/views/pages/activity.html.erb</p>
-->

<h1 class="page-header">Activity<br/>
   <small>I'm as mad as hell, and I'm not going to take this anymore!</small>
</h1>
  <%= render_activities(@activities) %>
 
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
