<!--
<h1>Pages#jobs</h1>
<p>Find me in app/views/pages/jobs.html.erb</p>
-->

<h1 class="page-header">Banned<br/>
                    <small>You've been naughty?</small>
                </h1>
         <!-- Jobs go here ... -->
<p>Unfortunately, we have suspend your account indefinitely because of disruptive behaviour to our community.<br/>
  If you feel you need an explanation, or would like to be reinstated please use the contact form.

</p>
