<!--
<h1>Pages#cookies</h1>
<p>Find me in app/views/pages/cookies.html.erb</p>
-->

<h1 class="page-header">Cookies Policy</h1>
<h3>Please read</h3>

<!-- Frequently asked questions go here... -->
<p>We bake the google analytics cookie into your browser so we can perform analytics on our website.
</p>
