<!--
<h1>Pages#cookies</h1>
<p>Find me in app/views/pages/cookies.html.erb</p>
-->

<h1 class="page-header">Cookies Policy</h1>
<h3>Please read</h3>

<!-- Frequently asked questions go here... -->
<p>No Cookies are consumed by this website.
</p>
