<!--
<h1>Pages#cookies</h1>
<p>Find me in app/views/pages/cookies.html.erb</p>
-->

<h1 class="page-header">Cookies Policy<br/>
<small>Please read</small>
</h1>
<!-- Frequently asked questions go here... -->
<p>No Cookies are consumed by this website.</br>
ME LOST HOURS OF PRECIOUS COOKIE EATING TIME! WHAT ME GOING TO DO NOW?!
</p>
