<!--
<h1>Pages#faq</h1>
<p>Find me in app/views/pages/faq.html.erb</p>
-->
<h1 class="page-header">Frequently asked questons<br/>
<small>Please read</small>
</h1>
         <!-- Frequently asked questions go here... -->
<p>No questions yet, please use the contact form to ask a question.  </p>
