

<h1 class="page-header">Lola</h1>
                    <h3>Dedicated to my lovely cocker spaniel Lola</h3>

         <!-- Jobs go here ... -->

<p>Who would wake me up in the middle of the night so she could take a piss. </p>
<%= image_tag("lola.jpg") %>
