<!-- Find me in app/views/pages/privacy.html.erb -->

<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Payment Policy<br/>
                    <small>Please read</small>
                </h1>
         <!-- Frequently asked questions go here... -->
Secure payments are processed by Stripe.<br>
<img src="http://res.cloudinary.com/dlfodsgbd/image/upload/v1590070577/TippingPoint/powered_by_stripe.png" alt="powered by stripe">

            </div>
</div>

<!-- end -->
