<!-- Find me in app/views/pages/payments.html.erb -->


<h1 class="page-header">Payment Policy</h1>
<h3>Please read</h3>


Secure payments are processed by Stripe.<br>
<img src="http://res.cloudinary.com/dlfodsgbd/image/upload/v1590070577/TippingPoint/powered_by_stripe.png" alt="powered by stripe">
<!-- end -->
