<!--
<h1>Pages#cookies</h1>
<p>Find me in app/views/pages/cookies.html.erb</p>
-->

<h1 class="page-header">Returns Policy</h1>
<h3>Please read</h3>

<!-- Frequently asked questions go here... -->
<p>No returns.  All sales final.</br>

</p>
