<!--
<h1>Pages#cookies</h1>
<p>Find me in app/views/pages/cookies.html.erb</p>
-->

<h1 class="page-header">Shipping Policy<br/>
<small>Please read</small>
</h1>
<!-- Frequently asked questions go here... -->
<p>Shipping is included in the price of purchase. <br/>
   A tracking number is provided upon shipment. <br/>
   All shipments are sent via Canada Post.

</p>
