<!--
<h1>Pages#cookies</h1>
<p>Find me in app/views/pages/cookies.html.erb</p>
-->

<h1 class="page-header">Shipping Policy</h1>
<h3>Please read</h3>

<!-- Frequently asked questions go here... -->
<p>Shipping is included in the price of purchase. <br/>
   A tracking number is provided upon shipment. <br/>
   All shipments are sent via Canada Post.<br/><br/>
   <a href="https://www.canadapost.ca" target="_blank">

     <img src="http://res.cloudinary.com/dlfodsgbd/image/upload/v1591479236/TippingPoint/CP_RGB_E.jpg" alt="Canada Post">
</a>
</p>
