<!--
<h1>Pages#taxes</h1>
<p>Find me in app/views/pages/taxes.html.erb</p>
-->

<h1 class="page-header">Tax Policy</h1>
<h3>Please read</h3>

<!-- Frequently asked questions go here... -->
<p>Taxes are calculated base on the state/province you are in.<br>
  Please fill out your contact details on the profile page to avoid disruptions with your transactions.

</p>
