<!--
<h1>Pages#thankyou</h1>
<p>Find me in app/views/pages/thankyou.html.erb</p>
-->

<h3 class="page-header">Thank you for taking the time to visit and meeting with me today. </h3>

Hello <%= session[:name] %>,<br><br>

Thank you so much for meeting with me today. It was such a pleasure to learn more about the team and position at <%= session[:company] %>, and I’m very excited about the opportunity to join <%= session[:company] %> and help develop world-class <%= session[:website] %> with your team.<br><br>

I look forward to hearing from you about the next steps in the hiring process, and please do not hesitate to contact me if I can provide additional information.
<br><br>
Best regards,<br>
Joe Guerra
