<!--
<h1>Pages#thankyou</h1>
<p>Find me in app/views/polls/thankyou.html.erb</p>
-->

<h1 class="page-header">Error</h1>
<h3>Error processing your vote.</h3>

<p>Please contact the admin...</p>
<!-- <%= @poll %>
<%= @user %>
-->
