@import "/custom.css";
@import "/bootstrap.css";
@import "/footer.css";
@import 'toastr';

/*@import "/categories.css"; */

@@import "/stripe.css";


 div.pagenav {
  clear: both;
}

// flexbox
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
