<!-- found in views/categories/edit.html.erb -->
<% @user = current_user %>
<% if user_signed_in? && @user.admin %>
<h1>Editing Category</h1>

<%= render 'form' %>


<% else %>


    <div class="alert alert-warning" role="alert">Please sign in as administrator to edit categories.</div>

<% end %>

<!-- end -->
